<div class="app-component">
  <div class="app-header">
    <div class="container">
        <div class="name">
          <span>Brandon Koopmans</span>
        </div>
        <div class="links">
          <a href="/"><span>Home</span></a>
          <a href="/diving"><span>Diving</span></a>
          <!-- <a href="/ifAdventure"><span>IF Adventure</span></a> -->
        </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="app-footer">
    <div class="links">
      <a href="https://www.github.com/bkoopmans" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/brandon-koopmans-b8334864/" target="_blank">LinkedIn</a>
      <a href="mailto:blkooper@hotmail.com" target="_blank">Email</a>
    </div>
  </div>
</div>

